@import '~bootstrap/scss/bootstrap.scss';
.App {
  font-family: Roboto;
}
.wrapper {
  background-color: #dff3f1;
  width: 70%;
  margin: auto;
  padding: 0.5em 1em;
  border: 1px solid #0ff3b9;
  box-shadow: 0 0 0 0.2rem rgba(132, 216, 165, 0.25);
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #0d3349;
  }
}

.form-control {
  background-color: #fff;
  border: 2px solid #0ff3b9;
}

.form-control:focus {
  color: #495057;
  border-color: #0ff3b9;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(132, 216, 165, 0.25);
  background-color: #aef5c9;
}

.submit {
  padding: 2em 0;
  input[type=submit] {
    text-transform: uppercase;
    font-weight: bold;
    background: #0ff3b9;
    border: none;
  }
  .btn-primary {
    background: #0fbf8e;
  }
  .btn-primary:hover {
    background: rgba(77, 255, 141, 0.73);;
  }
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 255, 145, 0.3);
  }
  .form-check{
    span {
      margin-left: 1rem;
      font-size: 20px;
      text-transform: uppercase;
    }
    label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 25px;
      margin-right: 15px;
      font-size: 13px;
    }
    label:before {
      content: "";
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;
      background-color: #aef5c9;
    }
    input[type=checkbox] {
      display: none;
    }
    .checkbox label:before {
      border-radius: 3px;
    }
    input[type=checkbox]:checked + label:before {
      content: "\2713";
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
      font-size: 25px;
      color: #171616;
      text-align: center;
      line-height: 22px;
    }
  }
}
.worker-header {
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid #0ff3b9;
}
.worker {
  margin: 0;
  border-bottom: 1px solid #0ff3b9;
  align-items: center;
  .contractor {
    text-align: center;
  }
  .edit {
    text-align: end;
  }
  button {
    font-size: 13px;
    padding: 3px;
  }
}
.worker:hover {
  cursor: pointer;
  background-color: #d7f2cf;
}